.footer {
  clear: both;
  margin-top: 0;
  font-size: 12px;
  background-color: black;
    
  .region-footer {
    .menu.nav {
      li {
        display: inline-block;
      }
    }
  }
  
  a {
    color: $font-light;
  }
}
